# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/
chat_history.db